:host {
  display: block;
  min-height: 100vh;
}

/* Custom scrollbar hiding utility */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
